div(class="profile-container bg-white me-3 d-flex flex-column align-items-center")
  form(class="d-flex flex-column align-items-center", action="/users/update/image", method="post", enctype="multipart/form-data")
    input(type="file", name="avatar", class="d-none")
    img(src="/images/twitter.webp", width="100", height="100", class="img-fluid my-3")
  div(class="d-flex flex-column align-items-center my-3")
    p(class="text-center")= `${user.username} (${user.email})`
  div(class="d-flex flex-column align-items-center my-3")
    div(class="d-flex flex-row justify-content-between align-items-center w-100")
      div(class="text-center flex-fill me-3")
        p
          strong Tweet
          br
          span(class="text-primary")= tweets && tweets.length ? tweets.length : "-"
      div(class="text-center flex-fill")
        p
          strong Following
          br
          span(class="text-primary") -
