nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand" href="/tweets")
    img(width="30" height="30" src="/images/twitter.webp" alt="Logo")
  button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse", id="navbarNav")
    ul(class="navbar-nav ms-auto d-flex align-items-center")
      if user
        li(class="nav-item")
          a(class="btn btn-primary btn-tweet me-3", href="/tweets/new") Tweet
        li(class="nav-item")
          a(class="nav-link", href="#") Bonjour #{user.username}
        li(class="nav-item")
          form(method="post" action="/auth/signout" class="d-inline")
            button(type="submit", class="btn btn-danger nav-link text-white", style="padding: 0.5rem 1rem; border: none; background: #dc3545; cursor: pointer;") Déconnexion
      else
        li(class="nav-item")
          a(class="nav-link", href="/auth/signin/form") Connexion
        li(class="nav-item")
          a(class="nav-link", href="/users/signup/form") Inscription
