script(src="/javascripts/search/search-bar.js")
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href="/tweets")
      img(src="/images/twitter.webp", width="30", height="30", alt="Logo")
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse(id="navbarNav")
      ul.navbar-nav.ms-auto.d-flex.align-items-center
        if isAuthenticated
          li.nav-item.ms-3
            form
          input(type="text" class="form-control me-2" placeholder="search" id="search-input")
          div(id="search-menu-container")
          li.nav-item
            a.btn.btn-primary.btn-tweet.me-3(href="/tweets/new") Tweet
          li.nav-item
            form(method="post", action="/auth/signout", class="d-inline d-lg-none")
              button(type="submit", class="btn-logout")
                | Déconnexion
          li.nav-item.d-none.d-lg-block
            form(method="post", action="/auth/signout", class="d-inline")
              button(type="submit", class="btn-logout")
                i(class="fa-solid fa-power-off")

        else
          li.nav-item
            a.nav-link(href="/auth/signin/form") Connexion
          li.nav-item
            a.nav-link(href="/users/signup/form") Inscription
