extends layout.pug

block content
    .container
        .row
            .col-12.text-center
                h1 404
                p La page que vous recherchez n'existe pas ou a été déplacée.
                a.btn.btn-primary(href='/') Retour à la page d'accueil
