body {
  background-color: #f8f9fa;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.topbar {
  height: 50px;
  background: red;
}

.content {
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  max-width: 300px;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}

.btn-tweet {
  border-radius: 30px;
}

.tweet-element {
  border-radius: 0px;
  font-size: 14px;
  border: 0px;
  border-top: 1px solid #ddd;
}

.tweet-element:first-child {
  border-top: 0px;
}

.btn-logout {
  border: 2px solid #dc3545;
  border-radius: 10px;
  margin-right: 5px;
  background: transparent;
  color: #dc3545;
  transition: all 0.3s ease;
}

.btn-logout:hover {
  background: #dc3545;
  color: #fff;
  border: 2px solid transparent;
}
