/* Global Styles */
body {
  background-color: #f8f9fa;
}

.pointer-cursor,
#image-profile {
  cursor: pointer;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Topbar */
.topbar {
  height: 50px;
  background: red;
}

/* Content */
.content {
  max-width: 1000px;
  margin-top: 20px;
}

/* Profile Container */
.profile-container {
  width: 30%;
  max-width: 300px;
}

/* Buttons */
.btn-tweet,
.btn-logout {
  border-radius: 30px;
  border: 2px solid transparent;
  background: transparent;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.btn-tweet {
  color: #007bff;
}

.btn-logout {
  color: #dc3545;
  border: 2px solid #dc3545;
}

.btn-tweet:hover {
  background: #007bff;
  color: #fff;
  border: 2px solid transparent;
}

.btn-logout:hover {
  background: #dc3545;
  color: #fff;
  border: 2px solid transparent;
}

/* Follow/Unfollow Buttons */
.btn-follow {
  color: #007bff !important;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border-width: 2px;
}

.btn-follow:hover {
  color: white !important;
}

.btn-unfollow {
  border-radius: 30px;
  font-weight: bold;
}

/* Tweet Element */
.tweet-element {
  border-radius: 0px;
  font-size: 14px;
  border: 0px;
  border-top: 1px solid #ddd;
}

.tweet-element:first-child {
  border-top: 0px;
}

/* Text Hint */
.text-hint {
  color: #718093;
  font-size: 12px;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .btn-tweet,
  .btn-logout {
    border: 2px solid transparent;
    background: transparent;
    color: #007bff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }

  .btn-logout {
    color: #dc3545;
  }

  .btn-tweet:hover,
  .btn-logout:hover {
    background: #007bff;
    color: #fff;
    border: 2px solid transparent;
  }

  .btn-logout:hover {
    background: #dc3545;
  }
}

@media (min-width: 992px) {
  .btn-tweet,
  .btn-logout {
    border-radius: 30px;
    border: 2px solid transparent;
    background: transparent;
    color: #007bff;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }

  .btn-logout {
    color: #dc3545;
  }

  .btn-tweet:hover,
  .btn-logout:hover {
    background: #007bff;
    color: #fff;
    border: 2px solid transparent;
  }

  .btn-logout:hover {
    background: #dc3545;
  }
}
